HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!Week_02/server/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### Java ###
*.class

